body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_bar {
    background-color: #f542d4;
    height: 100px;
    border-radius: 25px;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.nav_bar a {
    margin: 0 20px;
    text-decoration: none;
    font-size: large;
    font-style: italic;
    color: black;
}

.nav_bar a:hover {
    color: beige;
}

.content {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
}

.content p {
    margin: 10px 0;
}

h1 {
    color: antiquewhite;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}
