body {
    background: url('file:///C:/Users/Sunny%20Kumar/Downloads/wallpaperflare.com_wallpaper%20(1).jpg') no-repeat center center fixed; 
    background-size: cover;
    color: #e0e0e0; 
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav_bar {
    background-color: rgba(98, 0, 234, 0.8); 
    height: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 50px;
}

.nav_bar a {
    margin-right: 20px;
    text-decoration: none;
    font-size: large;
    font-style: italic;
    color: #ffffff; 
    transition: color 0.3s;
}


.nav_design{
    
}
.nav_bar a:hover {
    color: #bb86fc; 
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.image {
    border-radius: 200px;
    height: 350px;
    width: 350px;
    background-size: cover;
    background-image: url('https://github.com/Sunny70977/my-portfolio/blob/main/NEW%20SUNNY.jpeg');
    margin-bottom: 20px;
}

p {
    font-size: xx-large;
    color: #e0e0e0; 
}

p + p {
    font-size: x-large;
    margin-top: 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.insta, .linkedin, .github {
    border: 5px solid #121212; 
    border-radius: 25px;
    height: 80px;
    width: 80px;
    background-size: cover;
    transition: transform 0.3s, border-color 0.3s;
}

.insta {
    background-image: url('file:///C:/Users/Sunny%20Kumar/OneDrive/Desktop/GITSUNNY/my-portfolio/INSTA.jpeg');
}

.linkedin {
    background-image: url('file:///C:/Users/Sunny%20Kumar/OneDrive/Desktop/GITSUNNY/my-portfolio/linkedin.png');
}

.github {
    background-image: url('file:///C:/Users/Sunny%20Kumar/OneDrive/Desktop/GITSUNNY/my-portfolio/GITHUB.jpeg');
}

.insta:hover, .linkedin:hover, .github:hover {
    transform: scale(1.3);
    z-index: 2;
    border-color: #bb86fc; 
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

.same {
    border: 3px solid #e0e0e0;
    height: 300px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 15px;
    transition: transform 0.2s;
}

.same:hover {
    transform: scale(1.1);
    z-index: 2;
}

.netflix, .portfolio, .python, .current,.Tic {
    height: 100px;
    width: 150px;
    margin-bottom: 20px;
    background-size: cover;
    border-radius: 15px;
}

.netflix {
    background-image: url('file:///C:/Users/Sunny%20Kumar/OneDrive/Desktop/GITSUNNY/my-portfolio/netflix.png');
}

.portfolio {
    background-image: url('file:///C:/Users/Sunny%20Kumar/OneDrive/Desktop/GITSUNNY/my-portfolio/PORTFOLIO.jpeg');
}

.python {
    background-image: url('file:///C:/Users/Sunny%20Kumar/OneDrive/Desktop/GITSUNNY/my-portfolio/Python-Symbol.png');
}

.current {
    background-image: url('file:///C:/Users/Sunny%20Kumar/Downloads/hhhhh.png');
}
.Tic{
    background-image:url('file:///C:/Users/Sunny%20Kumar/OneDrive/Desktop/GITSUNNY/my-portfolio/tic%20tac%20toe.png');
}

.text {
    margin-top: 10px;
}

p {
    color: antiquewhite;
}
html{
    scroll-behavior: smooth;
}
